<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Sample Test Suite" verbose="1">
    <test name="Selected package">
       <packages>
           <package name="com.demoqa.tests.elements"/>
       </packages>
    </test>
    <test name="Selected classes">
        <classes>
            <class name="com.demoqa.tests.interactions.KeyboardTest"/>
            <class name="com.demoqa.tests.alerts_frames_windows.FramesTest"/>
            <class name="com.demoqa.tests.forms.RadioButtonTest"/>
        </classes>
    </test>
    <test name="Selected test">
        <classes>
            <class name="com.demoqa.tests.elements.ClickableButtonsTest">
                <methods>
                    <include name="dynamicButtonClickTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

